/*  your css code here. If applicable */
body{
	font-display: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: blueviolet;
	margin: 0;
}

buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.btn, .stop{
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 10px;
	border: 2px solid #333;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s transform 0.2s;
}


.btn {
    background-color: black;
    color: white;
}
.btn:hover {
    background-color: #0056b3;
	transform: scale(1.1); /* Adds a hover effect */
}

.stop {
    background-color: black;
    color: white;
}

.stop:hover {
    background-color: #a71d2a;
	transform: scale(1.1); /* Adds a hover effect */
}
