/*  your css code here. If applicable */
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin : 0;
	background-color: blueViolet; 
}

.buttons{
	display: flex;
	gap: 20px;
}

button{
	background-color: #2c2c54;
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover{
	background-color: #575fcf; /*   lighter hover effect         */
	transform: scale(1.1); /*slight scaling on hover
	*/
}

.stop{
	background-color: #575fcf;
}

.stop:hover{
	background-color: #575fcf;
}








